@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100vh;
  font-size: 14px;
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
}
